node_modules

data
./data
/data
.idea


.log
logs
log
.DS_Store
/parrotAdmin/logs/
/parrotAdmin/dumpdata.json
/parrotAdmin/db.sqlite3
/parrotAdmin/application/version.py
/parrotCore/configs/version.py
